body {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

.container {
  padding: 0 36px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

.self-center {
  align-self: center;
}

.align-items-stretch {
  align-items: stretch;
}

#header {
  justify-content: space-between;
  padding: 8px 96px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 16px 16px rgba(0, 0, 0, .6);
  position: sticky;
  top: 0;
  
}

/* Header Logo */

#header-logo {
  align-items: center;
  gap: 18px;
}

#logo-image {
  width: 100%;
  height: 100%;
}

#logo-text {
  color: #9865E0;
  font-size: 1.4em;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;

}

/* Nav style */
#nav-bar ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  list-style-type: none;
}

.nav-link, .nav-link:visited {
  text-decoration: none;
  color: #3b3b3b;
  font-size: 1.2em;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 20px;
}

.nav-link:hover {
  color: #9865E0;

}

/* Sections styles */
section {
  height: 640px;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.background-tint {
  background-color: rgba(0, 0, 0, .4);
  background-blend-mode: multiply;

}

section p {
  color: beige;
  font-size: 1.5em;
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;

}
.section-title {
  color: white;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3em;
}

#hero {
  background-image: url(space.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#hero div:nth-child(1) {
  /* min-width: 360px; */
  max-width: 720px;
}
#hero-image {
  max-width: 200px;
}
#introduction {
  background-color: black;
}
